nav > ul {
  display: flex;
}
nav li {
  margin-right: 20px;
  padding: 5px;
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: rgb(67, 0, 250);
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
nav li a:hover {
  background-color: bisque;
}
.drpdown {
  display: none;
  position: absolute;
  background-color: aqua;
  padding: 10px;
}
nav li:hover > .drpdown {
  display: block;
}
